.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;

    /*    background-color: rgba(0, 0, 0, .2);    */
}

.header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 40px;
}

.social__link {
    display: block;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: opacity 0.3s;
}

.social__link:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.social__link--fb {
    width: 11px;
    height: 20px;

    background-image: url("/img/fb.svg");

}

.social__link--tw {
    width: 20px;
    height: 17px;

    background-image: url("/img/tw.svg");
}

.logo {
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--white-color);
}

.burger {
    width: 46px;
    height: 10px;
    position: relative;
}

.burger:hover .burger__line {
    background-color: var(--accent-color);
    transition: background-color 0.3s;
}

.burger__line {
    position: absolute;
    right: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: var(--white-color);

    transition: backgrount-color 0.3s;
}

.burger__line:last-child {
    top: auto;
    bottom: 0;
}

.menu {
    position: fixed;
    left: -150vw;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: var(--neptune-color);
    transition: left 0.3s;
}

.menu--visible {
    left: 0;

    transition: left 0.3s;
}

.menu__nav {
    width: 100%;
    height: 100%;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    font-weight: 700;
    font-size: 40px;
    padding: 30px 0;
}

.menu__link {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-color);

    transition: color 0.3s;
}

.menu__link:hover {
    color: var(--black-color);

    transition: color 0.3s;
}

.menu__close {
    position: absolute;
    right: 10%;
    top: 10%;

    width: 40px;
    height: 40px;
}

.menu__close-line {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 3px;
    background-color: var(--white-color);
}

.menu__close-line:first-child {
    transform: rotate(45deg);
}

.menu__close-line:last-child {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {

    .social {
        display: none;
    }

    .menu__list {
        font-size: 20px;
        ;
    }
}
