.become {
    padding-top: 150px;
    padding-bottom: 100px;

    background-color: #fff;
}


.become__title {
    max-width: 50%;
}

.become__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 95px;
}

.become__item {
    position: relative;

    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;

    font-size: 0;

    border-radius: 4px;
}

.become__item:nth-child(4n) {
    margin-right: 0;
}

.become__text {
    position: absolute;
    left: 0;
    bottom: 0;

    padding-left: 20px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    color: var(--white-color);

    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;
}

.become__image {
    max-height: 100%;
    object-fit: cover;
}

.become__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: var(--neptune-color);
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.become__item:hover::before {
    opacity: .7;
}

.become__item:hover .become__text {
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}

@media (max-width: 768px) {

    .become__title {
        max-width: 75%;
    }
}

@media (max-width: 420px) {
    .become {
        padding-top: 80px;
    }

    .become__item {
        width: 100%;
        margin-bottom: 10%;
    }

    .section-title {
        font-size: 35px;
        line-height: 35px;
    }

    .become__image {
        max-height: 295px;
        width: 100%;
        object-fit: cover;
    }
}
