.footer {
    padding-top: 120px;

    border-top: 1px solid #d9d9d9;
}

.footer__title {
    position: relative;

    padding-bottom: 35px;
    margin-bottom: 35px;

    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;

    color: #100e0b;
}

.footer__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 48px;
    height: 1px;

    background: #57a773;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    margin-bottom: 2px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 12px;

    font-weight: 500;
    font-size: 13px;
    color: #959ea6;

    transition: color 0.3s;
}

.footer__link:hover {
    color: #666e75;

    transition: color 0.3s;
}

.subs-form {
    width: 368px;
}

.subs-form__field {
    width: 100%;
    height: 64px;
    padding-left: 31px;

    border-radius: 8px;
    border: 1px solid #e4e4e4;

    background-image: url(/img/user.svg);
    background-size: 20px;
    background-position: calc(100% - 31px) center;
    background-repeat: no-repeat;
}

.subs-form__btn {
    width: 100%;
    height: 64px;
    margin-top: 16px;

    background-color: var(--neptune-color);

    transition: background-color 0.3s;
}

.subs-form__btn:hover {
    background-color: var(--neptune-hover-color);

    transition: background-color 0.3s;
}

.footer__bottom {
    margin-top: 100px;
    padding: 30px 0;

    border-top: 1px solid #d9d9d9;
}

.footer__copy {
    font-size: 13px;

    color: #959ea6;
}

.bottom__container {
    justify-content: space-between;
}

.footer__links {
    display: flex;
}

.footer__links-item {
    margin-left: 30px;
}

@media (max-width: 1024px) {

    .subs-form {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .subs-form {
        width: 270px;
    }

    .footer {
        padding-top: 65px;
    }

    .footer__bottom {
        margin-top: 65px;
    }

}

@media (max-height: 780px) {

    .subs-form {
        width: 250px;
    }
}

@media (max-width: 420px) {
    .footer {
        padding-top: 45px;
    }

    .footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__column {
        width: 100%;
        padding-bottom: 40px;
    }

    .footer__title {
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

    .footer__link {
        margin-bottom: 5px;
    }

    .subs-form {
        width: 100%;
    }

    .bottom__container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer__links {
        flex-wrap: wrap;
    }

    .footer__links-item {
        width: 100%;
        margin-left: 0px;
    }

    .footer__copy {
        margin-bottom: 25px;
    }
}

