.insp {
    padding-top: 95px;
    padding-bottom: 140px;
}

.insp__heading {
    margin-bottom: 25px;
}

.insp__descr {
    max-width: 635px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 95px;

    font-size: 16px;
    line-height: 24px;

    color: #788692;
}

.grid {
    display: grid;
}

.insp__list {
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);
}

.insp__item {
    position: relative;
    overflow: hidden;

    background-color: red;
    border-radius: 8px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.insp__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 65%;

    background: linear-gradient(180deg, rgb(0, 0, 0, .001) 50%, rgba(0, 0, 0, 0.534) 100%);
}

.insp__text {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;

    padding: 0 40px;
    padding-bottom: 47px;
}

.insp__category {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 10px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    color: var(--white-color);
}

.insp__title {
    font-weight: 700;
    font-size: 22px;

    color: var(--white-color);
    margin-bottom: 25px;
}

.insp__play {
    position: absolute;
    left: 40px;
    top: 40px;

    width: 50px;
    height: 50px;

    background-image: url(../../img/play.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.insp__people {
    display: flex;
}

.insp__people-item {
    overflow: hidden;
    width: 48px;
    height: 48px;

    border-radius: 100%;
    border: 4px solid var(--white-color);

    background-color: var(--white-color);
}

.insp__people-item:not(:first-child) {
    margin-left: -20px;
}

.insp__people-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insp__item--big {
    grid-column-end: span 2;
}

.insp__item--bigheight {
    height: 710px;
}

.insp__item-1 {
    background-image: url(../../img/insp-1.jpg);
}

.insp__item-2 {
    background-image: url(../../img/insp-2.jpg);
}

.insp__item-3 {
    background-image: url(../../img/insp-3.jpg);
}

.insp__item-4 {
    background-image: url(../../img/insp-4.jpg);
}

.insp__item-5 {
    background-image: url(../../img/insp-5.jpg);
}

.insp__item-6 {
    background-image: url(../../img/insp-6.jpg);
}

.insp__item-7 {
    background-image: url(../../img/insp-7.jpg);
}

@media (max-width: 768px) {
    .insp__text {
        padding: 0 25px;
        padding-bottom: 25px;
    }

    .insp__people-item {
        border: 2px solid var(--white-color);
        width: 35px;
        height: 35px;
    }

    .insp__play {
        left: 25px;
        top: 25px;
    }
}

@media (max-width: 376px) {

    .insp {
        padding-bottom: 80px;
    }

    .insp__list {
        grid-gap: 0px;
        row-gap: 25px;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(295px, auto);
    }
}
