.newsletter {
    padding-top: 52px;
    padding-bottom: 150px;
    overflow-y: hidden;
}

.newsletter-contaner {
    max-width: none;
}

.newsletter-content {
    position: relative;

    display: flex;
    justify-content: space-between;
    padding: 0 var(--newsletter-gap);
    padding-top: 338px;
    padding-bottom: 178px;
    width: 100%;
    --newsletter-gap: 133px;

    border-radius: 8px;
    background-image: url(../../img/newsletter-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter__text {
    max-width: 370px;
}

.newsletter__title {
    color: var(--white-color);
    margin-bottom: 40px;
}

.newsletter__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: var(--white-color);
}

.newsletter__form {
    position: absolute;
    bottom: -96px;
    right: var(--newsletter-gap);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 501px;
    height: 416px;
    padding-top: 53px;

    background-color: #fff;
    border-radius: 8px;
}

.subscribe-form__field {
    width: calc(100% - (72px * 2));
    padding: 25px 0;

    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--dark-color);
    border: none;
    border-bottom: 1px solid rgba(28, 46, 61, .3);
}

.subscribe-form__btn {
    width: 100%;
    margin-top: 74px;
    padding: 41px 80px;

    background-color: var(--neptune-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: background-color 0.3s;
}

.subscribe-form__btn:hover {
    background-color: var(--neptune-hover-color);
    transition: background-color 0.3s;
}


@media (max-width: 1024px) {

    .newsletter-content {
        --newsletter-gap: 45px;
        padding-top: 140px;
    }

    .subscribe-form {
        width: 420px;
    }

}

@media (max-width: 768px) {

    .newsletter-content {
        --newsletter-gap: 100px;
        padding-top: 70px;
        padding-bottom: 375px;
    }

    .subscribe-form {
        width: 420px;
    }

    @media (max-width: 420px) {

        .newsletter {
            padding-bottom: 80px;
        }

        .newsletter-content {
            --newsletter-gap: 10px;
            flex-wrap: wrap;
            padding-bottom: 295px;
        }

        .newsletter__form {
            position: absolute;
            bottom: -96px;
            right: var(--newsletter-gap);
            left: var(--newsletter-gap);
        }


        .subscribe-form {
            bottom: -169px;

            width: auto;
            padding-top: 15px;
        }

        .subscribe-form__field {
            width: calc(100% - (25px * 2));
        }

        .subscribe-form__btn {
            margin-top: 40px;
            padding: 25px 80px;
        }
    }
}

